<mat-card>

  <mat-toolbar color="primary">
    <span>Cursos Disponíveis</span>
  </mat-toolbar>

  <div *ngIf="cursos$ | async as cursos; else loading">
    <table mat-table [dataSource]="cursos" class="mat-elevation-z8">

      <!-- Nome Column -->
      <ng-container matColumnDef="nome">
        <th mat-header-cell *matHeaderCellDef> Curso</th>
        <td mat-cell *matCellDef="let element"> {{ element.nome }} </td>
      </ng-container>

      <!-- Categoria Column -->
      <ng-container matColumnDef="categoria">
        <th mat-header-cell *matHeaderCellDef> Categoria </th>
        <td mat-cell *matCellDef="let element"> {{ element.categoria }}
          <mat-icon aria-hidden="false" aria-label="Categoria do Curso">{{ element.categoria | categoria }}</mat-icon>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </div>

  <ng-template #loading>
    <div class="loading-spinner">
      <mat-spinner></mat-spinner>
    </div>
  </ng-template>

</mat-card>
